body {
	background: black;
	font-family: cursive;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
p {
	color: blue;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	font-family: cursive;
}
.postcard-header img {
	width: 50px;
	height: 60px;
}

.postcard-header h1 {
	width: 700px;
	margin: none;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 5px;
}
input {
	border: 20px;
	border-bottom: grey;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: grey;
	padding: 10px;
	font-family: cursive;
}
